.menu {
  background: #3b4252;
  background-color: #3b4252;
  width: 20vw;
}

.menu-inner {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.menu-logo {
  padding: 1rem;
  user-select: none;
}

.menu-options {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 0.6rem;
  overflow-y: scroll;
}

.menu-options::-webkit-scrollbar {
  background: #3b4252;
  height: 8px;
  width: 8px;
}

.menu-options::-webkit-scrollbar-thumb {
  background: #4c566a;
}

.menu-option-title {
  align-items: center;
  display: flex;
  cursor: default;
  gap: 0.6rem;
  padding: 0.4rem 1rem;
  user-select: none;
}

.menu-option-title span {
  color: #d8dee9;
}

.menu-option-container {
  display: flex;
  flex-direction: column;
  gap: 0rem;
}

.menu-option {
  align-items: center;
  display: flex;
  gap: 0.6rem;
  padding: 0.4rem 1rem 0.4rem 2rem;
  transition: 200ms;
}

.menu-option-selected {
  background: #434c5e !important;
  background-color: #434c5e !important;
}

.menu-option:hover {
  background: #434c5e;
  background-color: #434c5e;
  cursor: pointer;
  transition: 200ms;
}

.menu-option svg {
  min-width: 20px;
}

.menu-option span {
  color: #d8dee9;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menu-footer {
  align-items: center;
  background: #3b4252;
  background-color: #3b4252;
  display: flex;
  gap: 0.6rem;
  padding: 1rem;
}

.menu-footer:hover {
  background: #434c5e;
  background-color: #434c5e;
}

.menu-footer span {
  color: #d8dee9;
}
