.menu {
  background: var(--foreground);
  background-color: var(--foreground);
  width: 24vw;
}

.menu-inner {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.menu-logo {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 2rem 1rem;
  user-select: none;
}
.menu-logo img {
  aspect-ratio: 1;
  height: 48px;
  width: 48px;
}

.menu-options {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 0.6rem;
  overflow-y: auto;
}
.menu-options::-webkit-scrollbar {
  background: var(--foreground);
  background-color: var(--foreground);
  height: 8px;
  width: 8px;
}
.menu-options::-webkit-scrollbar-thumb {
  background: var(--castground);
}

.menu-option-title {
  align-items: center;
  display: flex;
  cursor: default;
  gap: 0.6rem;
  padding: 0.4rem 1rem;
  user-select: none;
}
.menu-option-title svg * {
  fill: var(--font-primary);
}
.menu-option-title span {
  color: var(--font-primary);
}

.menu-option-homepage {
  align-items: center;
  display: flex;
  cursor: default;
  gap: 0.6rem;
  padding: 0.4rem 1rem;
  user-select: none;
  transition: 200ms;
}
.menu-option-homepage:hover {
  background: var(--castground);
  background-color: var(--castground);
  cursor: pointer;
  transition: 200ms;
}
.menu-option-homepage svg * {
  fill: var(--font-primary);
}
.menu-option-homepage span {
  color: var(--font-primary);
}

.menu-option-container {
  display: flex;
  flex-direction: column;
  gap: 0rem;
}

.menu-option {
  padding: 0 1rem 0 1.5rem;
  user-select: none;
  transition: 200ms;
}
.menu-option-inner {
  align-items: center;
  display: flex;
  gap: 0.6rem;
  border-left: 2px solid var(--castground);
  padding: 0.4rem 1.5rem;
}
.menu-option:hover {
  background: var(--castground);
  background-color: var(--castground);
  cursor: pointer;
  transition: 200ms;
}
.menu-option svg {
  min-width: 20px;
}
.menu-option svg * {
  fill: var(--font-primary);
}
.menu-option span {
  color: var(--font-primary);
  overflow: hidden;
  font-size: 0.875rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menu-option-selected {
  background: var(--castground) !important;
  background-color: var(--castground) !important;
}
.menu-option-selected .menu-option-inner {
  border-color: var(--font-primary);
}
.menu-option-selected span {
  color: var(--primary) !important;
}
.menu-option-selected svg * {
  fill: var(--primary) !important;
}

.menu-option-add {
  align-items: center;
  display: flex;
  gap: 0.6rem;
  padding: 0.6rem 1rem 0.6rem 1rem;
  user-select: none;
  transition: 200ms;
}
.menu-option-add:hover {
  background: var(--castground);
  background-color: var(--castground);
  cursor: pointer;
  transition: 200ms;
}
.menu-option-add svg {
  min-width: 20px;
}
.menu-option-add svg * {
  fill: var(--font-secondary);
}
.menu-option-add:hover svg * {
  fill: var(--font-primary);
}
.menu-option-add span {
  color: var(--font-secondary);
  overflow: hidden;
  font-size: 0.875rem;
  text-overflow: ellipsis;
  transition: 200ms;
  white-space: nowrap;
}
.menu-option-add:hover span {
  color: var(--font-primary);
  transition: 200ms;
}

.menu-option-footer {
  align-items: center;
  background: var(--foreground);
  background-color: var(--foreground);
  display: flex;
  gap: 0.6rem;
  padding: 1rem;
  user-select: none;
}
.menu-option-footer:hover {
  background: var(--castground);
  background-color: var(--castground);
  cursor: pointer;
}
.menu-option-footer svg {
  fill: var(--font-primary);
}
.menu-option-footer span {
  color: var(--font-primary);
}
