.insight {
  overflow-y: scroll;
  height: calc(100vh - 40px);
}

.mdxeditor,
.mdxeditor-root-contenteditable,
.mdxeditor-root-contenteditable div {
  height: 100%;
}

.mdxeditor * {
  font-family: "Roboto", sans-serif;
}

.insight::-webkit-scrollbar {
  background: var(--foreground);
  background-color: var(--foreground);
  height: 8px;
  width: 8px;
}

.insight::-webkit-scrollbar-thumb {
  background: var(--castground);
}

.insight::-webkit-scrollbar-corner {
  background: var(--foreground);
  background-color: var(--foreground);
}

.mdxeditor h1,
.mdxeditor h2,
.mdxeditor h3 {
  color: var(--primary);
}

.mdxeditor p,
.mdxeditor h4,
.mdxeditor h5,
.mdxeditor h6,
.mdxeditor ul,
.mdxeditor blockquote {
  color: var(--font-primary);
  opacity: 0.8;
}

.mdxeditor blockquote {
  background: var(--foreground);
  background-color: var(--foreground);
  font-style: italic;
  padding: 1rem;
}
