.insight {
  overflow-y: scroll;
  height: calc(100vh - 40px);
}

.mdxeditor,
.mdxeditor-root-contenteditable,
.mdxeditor-root-contenteditable div {
  height: 100% !important;
}

.mdxeditor * {
  color: var(--ft-color) !important;
  font-family: "Roboto", sans-serif !important;
}

.insight::-webkit-scrollbar {
  background: var(--fg-color);
  background-color: var(--fg-color);
  height: 8px;
  width: 8px;
}

.insight::-webkit-scrollbar-thumb {
  background: var(--lg-color);
}

.insight::-webkit-scrollbar-corner {
  background: var(--fg-color);
  background-color: var(--fg-color);
}
