.board {
  overflow-y: scroll;
  height: calc(100vh - 40px);
}

.board-square {
  background: var(--foreground);
  background-color: var(--foreground);
  border: 1px solid var(--primary);
  padding: 0 1rem 1rem 1rem;
  width: 320px;
  height: 280px;
}

.board-text {
  padding: 0.6rem;
  max-height: 280px;
  width: 128px;
}

.board-top {
  padding: 1rem 0;
}

.board-square textarea,
.board-text textarea {
  appearance: none;
  background: transparent;
  background-color: transparent;
  border: none;
  color: var(--font-primary);
  font-size: 1rem;
  height: 100%;
  outline: none;
  resize: none;
  width: 100%;
}
