.modal {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  transition: 200ms;
  width: 100vw;
}

.modal-background {
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4px);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  transition: 200ms;
  width: 100vw;
  z-index: 8;
}

.modal-content {
  background: var(--foreground);
  background-color: var(--foreground);
  border: 1px solid var(--primary);
  color: var(--font-primary);
  min-width: 480px;
  z-index: 9;
}

.modal-content-title {
  background: var(--background);
  background-color: var(--background);
  padding: 1rem;
}

.modal-content-body {
  padding: 1rem;
}
