.tab {
  background: var(--background);
  background-color: var(--background);
  border-bottom: 2px solid var(--primary);
  display: flex;
  gap: 1rem;
}

.tab-main {
  display: flex;
  flex: 1;
}

.tab-actions {
  display: flex;
}

.tab-main button,
.tab-actions button {
  align-items: center;
  background: var(--background);
  background-color: var(--background);
  border: none;
  color: var(--font-primary);
  cursor: pointer;
  display: flex;
  gap: 0.4rem;
  height: 40px;
  padding: 0 2rem;
  user-select: none;
  transition: 200ms;
}

.tab-main button:hover,
.tab-actions button:hover {
  background: var(--castground);
  background-color: var(--castground);
  cursor: pointer;
  transition: 200ms;
}

.tab-main button.tab-active,
.tab-actions button.tab-active {
  background: var(--primary);
  background-color: var(--primary);
  color: var(--background);
  transition: 200ms;
}
