.tab {
  background: var(--bg-color);
  background-color: var(--bg-color);
  display: flex;
  gap: 1rem;
}

.tab-container {
  display: flex;
  flex: 1;
}

button {
  align-items: center;
  background: var(--bg-color);
  background-color: var(--bg-color);
  border: none;
  color: var(--ft-color);
  cursor: pointer;
  display: flex;
  gap: 0.4rem;
  height: 40px;
  padding: 0 2rem;
  user-select: none;
  transition: 200ms;
}

button:hover {
  background: var(--lg-color);
  background-color: var(--lg-color);
  cursor: pointer;
  transition: 200ms;
}

button.tab-active {
  background: var(--pr-color);
  background-color: var(--pr-color);
  color: var(--bg-color);
  transition: 200ms;
}
