.source {
  overflow-y: scroll;
  height: calc(100vh - 40px);
}

.source-data {
  background: var(--fg-color);
  background-color: var(--fg-color);
  display: flex;
  position: absolute;
  bottom: 0;
  font-size: 0.875rem;
  gap: 1rem;
  padding: 0.4rem 1rem;
  width: 100%;
}

.source-data * {
  color: var(--ft-color);
}

.cm-theme {
  height: 100%;
}

.cm-editor {
  height: 100%;
}

.cm-editor * {
  font-family: "Roboto Mono", monospace;
}

.cm-gutters {
  width: 64px !important;
}

.cm-lineNumbers {
  flex: 1 !important;
}

.cm-focused {
  outline: none !important;
}

.cm-scroller::-webkit-scrollbar {
  background: var(--fg-color);
  background-color: var(--fg-color);
  height: 8px;
  width: 8px;
}

.cm-scroller::-webkit-scrollbar-thumb {
  background: var(--lg-color);
}

.cm-scroller::-webkit-scrollbar-corner {
  background: var(--fg-color);
  background-color: var(--fg-color);
}
