:root {
  --bg-color: #23272e;
  --fg-color: #1f2329;
  --lg-color: #323842;
  --ft-color: #acb3bf;

  --pr-color: #4e78cc;
  --sc-color: #81a1c1;
  --th-color: #5e81ac;
}

*,
input,
button {
  font-family: "Roboto", sans-serif;
}

button {
  font-size: 1rem;
}

body {
  background: var(--bg-color);
  background-color: var(--bg-color);
  margin: 0;
  overflow: hidden;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 80vw;
}

.content {
  overflow-y: scroll;
  height: calc(100vh - 40px);
}
