:root {
  --background: #1f1f1f;
  --foreground: #252526;
  --castground: #38383d;

  --font-primary: #ccc;
  --font-secondary: #858585;

  --primary: #ff5d73;
}

*,
input,
button {
  font-family: "Roboto", sans-serif;
}

button {
  font-size: 1rem;
}

body {
  background: var(--background);
  background-color: var(--background);
  margin: 0;
  overflow: hidden;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 76vw;
}
