.inspector {
  background: #2e3440;
  background-color: #2e3440;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.inspector-topbar {
  align-items: center;
  color: #d8dee9;
  display: flex;
  font-size: 1.5rem;
  gap: 1rem;
}

.inspector-tab {
  display: flex;
}

.inspector-tab-left,
.inspector-tab-right {
  display: flex;
  gap: 0.6rem;
}

.inspector-tab-left {
  flex: 1;
}

button {
  background: #5e81ac;
  background-color: #5e81ac;
  border: none;
  color: #d8dee9;
  cursor: pointer;
  padding: 0.6rem 2rem;
}
