.inspector {
  background: var(--bg-color);
  background-color: var(--bg-color);
  display: flex;
  gap: 1rem;
}

.inspector-tab {
  display: flex;
  flex: 1;
}

button {
  background: var(--bg-color);
  background-color: var(--bg-color);
  border: none;
  color: var(--ft-color);
  cursor: pointer;
  padding: 0 2rem;
  height: 40px;
  transition: 200ms;
}

button:hover {
  background: var(--lg-color);
  background-color: var(--lg-color);
  cursor: pointer;
  transition: 200ms;
}

button.inspector-tab-active {
  background: #4e78cc;
  background-color: #4e78cc;
  color: white;
  transition: 200ms;
}
